.App {
  text-align: center;
  height: 100vh;
}

#linearSearch {
  background: #112035;
  color: #d5d5d5;
}

h2 {
  margin-top: 5%;
}

.text {
  width: 90vw;
  padding: 5%;
  padding-top: 1%;
  text-align: left;
}

.controls {
  width: 90vw;
  padding: 5%;
  padding-top: 0;
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr;
}

.controls > div {
  align-self: center;
  justify-self: center;
  width: 75%;
}

.rangeInput {
  width: 100%;
}

.rangeInput input {
  width: 100%;
}
